In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score

In [4]:
df=pd.read_csv('lungcapacity.csv')

In [5]:
df

,LungCap(cc),Age( years),Height(inches),Smoke,Gender,Caesarean,No of children,Weight (kg)
0,6.475,6.0,62.1,NaN,male,no,3,85.70
1,10.125,18.0,74.7,yes,female,no,0,98.75
2,9.550,16.0,69.7,no,female,yes,0,11.01
3,11.125,14.0,71.0,no,male,no,1,29.78
4,4.800,5.0,56.9,no,male,no,4,72.84
...,...,...,...,...,...,...,...,...
741,9.925,16.0,68.3,no,female,no,3,68.30
742,8.725,19.0,68.4,no,female,no,3,68.40
743,7.075,11.0,66.7,no,male,yes,4,66.70
744,8.825,16.0,71.3,yes,female,no,0,71.30
745,NaN,17.0,68.8,no,male,yes,2,68.80

In [6]:
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['Smoke'] = label_encoder.fit_transform(df['Smoke'])
df['Caesarean'] = label_encoder.fit_transform(df['Caesarean'])

In [7]:
df

,LungCap(cc),Age( years),Height(inches),Smoke,Gender,Caesarean,No of children,Weight (kg)
0,6.475,6.0,62.1,3,1,1,3,85.70
1,10.125,18.0,74.7,2,0,1,0,98.75
2,9.550,16.0,69.7,1,0,2,0,11.01
3,11.125,14.0,71.0,1,1,1,1,29.78
4,4.800,5.0,56.9,1,1,1,4,72.84
...,...,...,...,...,...,...,...,...
741,9.925,16.0,68.3,1,0,1,3,68.30
742,8.725,19.0,68.4,1,0,1,3,68.40
743,7.075,11.0,66.7,1,1,2,4,66.70
744,8.825,16.0,71.3,2,0,1,0,71.30
745,NaN,17.0,68.8,1,1,2,2,68.80

In [8]:
for i in range(1):
    to_add_data=pd.DataFrame()
    to_add_data['LungCap(cc)']=None
    to_add_data['Age( years)']=None
    to_add_data['Height(inches)']=None
    to_add_data['Smoke']=None
    to_add_data['Gender']=None
    to_add_data['Caesarean']=None
    to_add_data['No of children']=None
    to_add_data['Weight (kg)']=None
    to_add_data['LungCap(cc)'] =df['LungCap(cc)']
    to_add_data['Age( years)'] =df['Age( years)'] + np.random.randint(-5, 5)
    to_add_data['Height(inches)'] =df['Height(inches)'] + np.random.uniform(-5, 5)
    to_add_data['Smoke']=np.random.choice([0,1,2,3])
    to_add_data['Gender']=np.random.choice([0,1])
    to_add_data['Caesarean']=np.random.choice([0,1,2,3])
    to_add_data['No of children']=np.random.choice([0,1,2,3,4])
    to_add_data['Weight (kg)']=df['Weight (kg)'] + np.random.uniform(-10, 10)
    df = pd.concat([df, to_add_data], ignore_index=True)

In [9]:
df

,LungCap(cc),Age( years),Height(inches),Smoke,Gender,Caesarean,No of children,Weight (kg)
0,6.475,6.0,62.100000,3,1,1,3,85.700000
1,10.125,18.0,74.700000,2,0,1,0,98.750000
2,9.550,16.0,69.700000,1,0,2,0,11.010000
3,11.125,14.0,71.000000,1,1,1,1,29.780000
4,4.800,5.0,56.900000,1,1,1,4,72.840000
...,...,...,...,...,...,...,...,...
1487,9.925,18.0,64.902128,1,0,2,0,78.028262
1488,8.725,21.0,65.002128,1,0,2,0,78.128262
1489,7.075,13.0,63.302128,1,0,2,0,76.428262
1490,8.825,18.0,67.902128,1,0,2,0,81.028262
1491,NaN,19.0,65.402128,1,0,2,0,78.528262

In [10]:
df.isnull().sum()

LungCap(cc)       20
Age( years)       20
Height(inches)    14
Smoke              0
Gender             0
Caesarean          0
No of children     0
Weight (kg)       14
dtype: int64

In [11]:
df = df.fillna(df.median())

In [12]:
df.isnull().sum()

LungCap(cc)       0
Age( years)       0
Height(inches)    0
Smoke             0
Gender            0
Caesarean         0
No of children    0
Weight (kg)       0
dtype: int64

In [13]:
df

,LungCap(cc),Age( years),Height(inches),Smoke,Gender,Caesarean,No of children,Weight (kg)
0,6.475,6.0,62.100000,3,1,1,3,85.700000
1,10.125,18.0,74.700000,2,0,1,0,98.750000
2,9.550,16.0,69.700000,1,0,2,0,11.010000
3,11.125,14.0,71.000000,1,1,1,1,29.780000
4,4.800,5.0,56.900000,1,1,1,4,72.840000
...,...,...,...,...,...,...,...,...
1487,9.925,18.0,64.902128,1,0,2,0,78.028262
1488,8.725,21.0,65.002128,1,0,2,0,78.128262
1489,7.075,13.0,63.302128,1,0,2,0,76.428262
1490,8.825,18.0,67.902128,1,0,2,0,81.028262
1491,8.000,19.0,65.402128,1,0,2,0,78.528262

In [14]:
df.isnull().sum()

LungCap(cc)       0
Age( years)       0
Height(inches)    0
Smoke             0
Gender            0
Caesarean         0
No of children    0
Weight (kg)       0
dtype: int64

In [15]:
df.to_csv('Used_dataset.csv',index=False)

In [191]:
y=df['LungCap(cc)']
x=df.drop('LungCap(cc)',axis=1,inplace=False)

In [192]:
scaler =  MinMaxScaler()
x = scaler.fit_transform(x)

In [193]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [194]:
model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
r2 = r2_score(y_test, predictions)
print(r2)

0.8080915193526845

In [195]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
r2 = r2_score(y_test, predictions)
print(r2)

0.6740964238449471

In [196]:
model = RandomForestRegressor()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
r2 = r2_score(y_test, predictions)
print(r2)

0.7938138168059157

In [197]:
model = SVR()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
r2 = r2_score(y_test, predictions)
print(r2)

0.8028043121418489

In [198]:
model = GradientBoostingRegressor()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
r2 = r2_score(y_test, predictions)
print(r2)

0.822371274222428

In [199]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)
])
model.compile(optimizer='adam', loss='mean_squared_error')
history = model.fit(X_train, y_train, epochs=500, batch_size=16, validation_split=0.2, verbose=0)
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(r2)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 924us/step
0.8256655097796408

In [ ]:
#Following is the implementation from scratch of neural network. I tried to implement it but it is giving wrong r2 score

In [200]:
# import tensorflow as tf
# import numpy as np
# from sklearn.metrics import r2_score
# X_train = np.array(X_train)
# y_train = np.array(y_train)
# X_test = np.array(X_test)
# y_test = np.array(y_test)
# class CustomModel(tf.Module):
#     def __init__(self):
#         super(CustomModel, self).__init__()
#         self.dense1 = tf.Variable(tf.random.normal([X_train.shape[1], 64]), name='dense1')
#         self.dense2 = tf.Variable(tf.random.normal([64, 32]), name='dense2')
#         self.dense3 = tf.Variable(tf.random.normal([32, 1]), name='dense3')
#         self.bias1 = tf.Variable(tf.zeros([64]), name='bias1')
#         self.bias2 = tf.Variable(tf.zeros([32]), name='bias2')
#         self.bias3 = tf.Variable(tf.zeros([1]), name='bias3')

#     def __call__(self, x):
#         x = tf.nn.relu(tf.matmul(x, self.dense1) + self.bias1)
#         x = tf.nn.relu(tf.matmul(x, self.dense2) + self.bias2)
#         return tf.matmul(x, self.dense3) + self.bias3

# model = CustomModel()

# def mean_squared_error(y_true, y_pred):
#     return tf.reduce_mean(tf.square(y_true - y_pred))

# learning_rate = 0.01
# optimizer = tf.optimizers.Adam(learning_rate)

# epochs = 500
# batch_size = 16
# num_batches = len(X_train) // batch_size

# for epoch in range(epochs):
#     for batch in range(num_batches):
#         start = batch * batch_size
#         end = (batch + 1) * batch_size
#         x_batch = tf.convert_to_tensor(X_train[start:end], dtype=tf.float32)
#         y_batch = tf.convert_to_tensor(y_train[start:end], dtype=tf.float32)

#         with tf.GradientTape() as tape:
#             y_pred = model(x_batch)
#             loss = mean_squared_error(y_batch, y_pred)

#         gradients = tape.gradient(loss, model.trainable_variables)
#         optimizer.apply_gradients(zip(gradients, model.trainable_variables))

# y_pred = model(tf.convert_to_tensor(X_test, dtype=tf.float32))
# r2 = r2_score(y_test, y_pred)
# print("R2 Score:", r2)